* {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
}

/*--------------------------------------------Topbar--------------------------------------------*/
body {
  background-color: #151515;
}

.top-bar {
  display: flex;
  color: #fff;
  padding: 0 40px;
  border-bottom: solid 2px #272727;
}
.top-bar .logo-wrapper {
  padding: 20px 16px 20px 0;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar .logo-wrapper .logo-box {
  display: flex;
  align-items: center;
}
.top-bar .logo-wrapper .logo-box p {
  font-size: 23px;
  font-weight: 900;
  margin-left: 8px;
  margin-bottom: 0;
  margin-top: 0;
}
.top-bar .top-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.top-bar .top-bar-content .title-component {
  display: flex;
  align-items: center;
}
.top-bar .top-bar-content .title-component img {
  margin-right: 18px;
}
.top-bar .top-bar-content .title-component p {
  color: #FFF;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.top-bar .top-bar-content .actions-component {
  display: flex;
  align-items: center;
}
.top-bar .top-bar-content .actions-component .search-bar-component {
  display: flex;
  align-items: center;
  background: #272727;
  border-radius: 28px;
  padding: 8px 16px;
  width: 280px;
}
.top-bar .top-bar-content .actions-component .search-bar-component input[type=search] {
  background: transparent;
  border: none;
  margin-left: 18px;
}
.top-bar .top-bar-content .actions-component .filter-icon-component {
  margin: 0 16px;
}
.top-bar .top-bar-content .actions-component .notification-icon-component {
  cursor: pointer;
  background: #6E56E0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.top-bar .top-bar-content .actions-component .notification-icon-component img {
  width: 24px;
  height: 24px;
  background: #6E56E0;
}
.top-bar .top-bar-content .actions-component .notification-icon-component .unread-notification-indication-light {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFD928;
  position: absolute;
  top: 8px;
  right: 10px;
}
.top-bar .top-bar-content .actions-component .account-action-component {
  margin: 0 0 0 16px;
}

.page-content {
  display: flex;
  /*--------------------------------------------Navbar--------------------------------------------*/
}
.page-content .nav-bar {
  width: 240px;
  border-right: solid 2px #272727;
  min-height: calc(100vh - 89.52px);
}
.page-content .nav-bar .nav-list {
  list-style: none;
  color: #fff;
  padding: 0;
  margin-top: 0;
  padding-right: 40px;
}
.page-content .nav-bar .nav-list .normal-list-item {
  padding: 12px 0 12px 40px;
  display: flex;
  align-items: center;
  width: 180px;
  margin-top: 8px;
}
.page-content .nav-bar .nav-list .normal-list-item label {
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 15px */
  margin-left: 15px;
}
.page-content .nav-bar .nav-list .normal-list-item .notify-value {
  margin-left: 10px;
  background: #FFD928;
  color: #000000;
  font-family: Urbanist;
  font-size: 12.616px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  width: 28px;
  height: 24px;
  border-radius: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-content .nav-bar .nav-list .leave-item {
  background-color: #6E56E0 !important;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.page-content .nav-bar .nav-list .leave-item img, .page-content .nav-bar .nav-list .leave-item label {
  background-color: #6E56E0 !important;
}
.page-content .main-content {
  padding: 16px 40px;
  color: #fff;
  position: relative;
  width: 100%;
  /*--------------------------------------------Dashboard Component--------------------------------------------*/
  /*--------------------------------------------Notifications Component--------------------------------------------*/
}
.page-content .main-content .tabs-row {
  display: flex;
  align-items: center;
}
.page-content .main-content .tabs-row .tabs-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0px;
}
.page-content .main-content .tabs-row .tabs-list .tabs-list-item {
  margin-right: 12px;
  padding: 8px 8px 18px 8px;
  position: relative;
}
.page-content .main-content .tabs-row .tabs-list .unread::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #FFD928;
  position: absolute;
  top: 0px;
  right: 0px;
}
.page-content .main-content .tabs-row .tabs-list .active {
  border-bottom: solid 2px #6E56E0 !important;
}
.page-content .main-content .dashboard-component {
  display: flex;
  flex-direction: column;
}
.page-content .main-content .dashboard-component .component-title {
  color: #FFF;
  font-family: Urbanist;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}
.page-content .main-content .dashboard-component .component-row {
  display: flex;
  gap: 18px;
}
.page-content .main-content .dashboard-component .component-row .heatmap-component {
  background: #1E1E1E;
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
}
.page-content .main-content .dashboard-component .component-row .heatmap-component .header-row {
  background: transparent;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #272727;
  padding: 10px 16px 10px 24px;
}
.page-content .main-content .dashboard-component .component-row .heatmap-component .header-row .component-title {
  color: #FFF;
  text-align: center;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  margin: 0px;
}
.page-content .main-content .dashboard-component .component-row .heatmap-component .header-row .drodowns-component {
  display: flex;
  align-items: center;
}
.page-content .main-content .dashboard-component .component-row .heatmap-component .header-row .drodowns-component select {
  background-color: transparent;
  border: none;
  color: #898989;
  text-align: center;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 15px */
  text-transform: uppercase;
}
.page-content .main-content .dashboard-component .component-row .heatmap-component .header-row .drodowns-component select:active {
  outline: none;
}
.page-content .main-content .dashboard-component .component-row .heatmap-component .week-days-row {
  padding: 10px 16px 10px 24px;
  overflow: hidden;
}
.page-content .main-content .dashboard-component .component-row .heatmap-component .week-days-row .days-list {
  display: flex;
  list-style: none;
  border: solid 1px #ccc;
  border-radius: 8px;
  overflow: hidden;
  padding: 0px;
}
.page-content .main-content .dashboard-component .component-row .heatmap-component .week-days-row .days-list .day-list-item {
  flex: 1;
  border-right: solid 1px #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.page-content .main-content .dashboard-component .component-row .heatmap-component .week-days-row .days-list .active-day {
  background: #C33535;
}
.page-content .main-content .dashboard-component .component-row .heatmap-component .data-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px 10px 24px;
}
.page-content .main-content .dashboard-component .component-row .heatmap-component .data-row .circular-progress {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-content .main-content .dashboard-component .component-row .heatmap-component .data-row .circular-progress .inner-circle {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.page-content .main-content .dashboard-component .component-row .heatmap-component .data-row .circular-progress .percentage {
  position: relative;
  color: #FFF !important;
  text-align: center;
  font-family: Urbanist !important;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: capitalize;
}
.page-content .main-content .dashboard-component .component-row .most-day-away-component {
  flex: 1;
  background: #1E1E1E;
}
.page-content .main-content .dashboard-component .component-row .most-day-away-component .header-row {
  background: transparent;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #272727;
}
.page-content .main-content .notifications-component {
  width: 464px;
  min-height: calc(100vh - 100px);
  padding: 0 24px 24px 24px;
  border-left: solid 2px #272727;
  position: absolute;
  z-index: 1;
  background-color: #151515;
  right: 0px;
  top: -10px;
}
.page-content .main-content .notifications-component .notify-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-content .main-content .notifications-component .notify-header .mark-all-box {
  display: flex;
  align-items: center;
}
.page-content .main-content .notifications-component .notify-header .mark-all-box label {
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-right: 4px;
}
.page-content .main-content .notifications-component .notifications-list {
  list-style: none;
  padding: 0px;
}
.page-content .main-content .notifications-component .notifications-list .notifications-list-item {
  background: #1E1E1E;
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
  border-radius: 12px;
  padding: 16px;
}
.page-content .main-content .notifications-component .notifications-list .notifications-list-item .notification-user-avatar {
  min-width: 48px;
  position: relative;
  background: transparent;
  display: flex;
  justify-content: flex-end;
}
.page-content .main-content .notifications-component .notifications-list .notifications-list-item .notification-user-avatar img {
  width: 40px;
  height: 40px;
  position: relative;
  background: transparent;
}
.page-content .main-content .notifications-component .notifications-list .notifications-list-item .active::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FFD928;
  position: absolute;
  top: 0px;
  left: 0px;
}
.page-content .main-content .notifications-component .notifications-list .notifications-list-item .notifications-content-component {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 12px;
}
.page-content .main-content .notifications-component .notifications-list .notifications-list-item .notifications-content-component .notification-message {
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
  background: transparent;
}
.page-content .main-content .notifications-component .notifications-list .notifications-list-item .notifications-content-component .notification-message .user-name {
  font-weight: 700;
  background: transparent;
  margin-right: 8px;
}
.page-content .main-content .notifications-component .notifications-list .notifications-list-item .notifications-content-component .notification-time {
  color: #ccc;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background: transparent;
}/*# sourceMappingURL=style.css.map */